h1, p {
  font-family: Lato;
}

body{
  background: beige
}

.navbar{
  color: blue;
  text-align: center;
}

.list{
  color: peru;
  text-align: center;
}

.textEnter{
  text-align: center;
}

.btnSend{
  text-align: center;
}

.inputSection{
  text-align: center;
}
